@media (min-width: 400px) {


    #wrapper {
        width: 100%;
    }

    .header-text {
        margin-top: .3em;
        font-size: 2em;
    }

    .icon-flex {
        max-width: 12%;
    }

    .container {
        text-align: start;
        padding: 0 1em;
    }

    .mobile-navigation-bar {
        display: none;
    }

    .heading {
        display: flex;
        padding-left: 2em;
    }

    .heading-btn {
        gap: 1em;
    }

    .overlay {
        display: none;
    }

    .desktop-nav-bar {
        display: flex;
        gap: 30em;
    }

    .desktop-main-nav-btn-list {
        display: flex;
        margin-top: 1em;
        gap: 2em;
    }

    .arrow-up-icon {
        display: flex;
    }

    .arrow-up-list {
        gap: .6em;
        background: #fff;
        backdrop-filter: blur(50px);
        padding: .9em;
        border-radius: .8em;
        margin-top: .2em;
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);

    }

    .login-regist {
        display: flex;
        gap: 2em;
    }

    .arrow-up-list {
        position: fixed;
    }

    .arrow-up-list li {
        font-size: .8em;
    }

    .arrow-up-list img {
        max-width: 15%;
    }

    .desktop-nav-bar-list {
        margin-top: .2em;
        gap: 2em;
    }

    .heading-text {
        margin-top: 1.5em;
        font-size: 4.2em;
        line-height: .9;
    }

    .text {
        font-size: 1em;
        margin-top: 1em;
        color: hsl(0, 0%, 41%);
    }

    .login-register {
        display: flex;
    }

    .arrow-up-3,
    .arrow-up-4 {
        margin-top: .9em;
        margin-left: -2em;
        margin-bottom: .1em;
    }

    .an-main-nav-link,
    .an-main-nav-link-4 {
        font-size: .8em;
        /* margin-top: 3em; */
        cursor: pointer;
        color: hsl(0, 0%, 41%);
    }

    .an-main-nav-link:hover,
    .an-main-nav-link-4:hover {
        color: hsl(0, 0%, 8%);
        font-weight: 700;
    }

    .desktop-login-register {
        display: flex;
    }

    .desktop-main-nav-link {
        display: flex;
        font-size: 1em;
        gap: 2em;
    }


    .login-register {
        font-size: 1em;
        display: flex;
        gap: 2em;
    }

    .login,
    .register {
        font-size: 1em;
        margin-top: .2em;
    }

    .icon-menu-open {
        display: none;
    }

    .image-hero-mobile {
        display: none;
    }

    .image-hero-desktop {
        display: block;
        padding: 0 7em;
    }

    .desktop-navigation-bar {
        display: block;
    }

    .desktop-login-register {
        display: flex;
    }

    .login-register {
        display: flex;
    }

    .desktop-navigation-bar {
        display: flex;
    }

    .image {
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: .2em;
    }

    .register {
        width: 90px;
        cursor: pointer;
        border: 2px solid hsl(0, 0%, 41%);
    }

    .register:hover {
        border: 2px solid hsl(0, 0%, 8%);

    }

    .desktop-main-nav-btn-list {
        display: flex;
        flex-direction: row;
    }

    .arrow-up-1 {
        display: flex;
        flex-direction: row;
    }

    .login {
        margin-left: 30em;
        color: hsl(0, 0%, 41%);
        cursor: pointer;
    }

    .login:hover {
        color: hsl(0, 0%, 8%);
    }

    .logo {
        margin-top: 2em;
    }

    .desktop-nav-bar-list {
        border: none;
        list-style: none;
        display: flex;
        flex-direction: row;
    }

    ul {
        list-style: none;
    }

    .icon-close-menu {
        display: none;
    }

    .register {
        border: 2px solid hsl(0, 0%, 41%);
    }

    .register-login {
        display: flex;
        gap: 2em;
        align-items: flex-end;
        margin-left: 39em;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4em;
        margin-right: 9em;
        margin-left: 9em;
    }

    .learn-more {
        font-size: .8em;
        margin-left: .3em;
    }

    .learn-more:hover {
        background: #fff;
        color: hsl(0, 0%, 8%);
        border: 2px solid hsl(0, 0%, 8%);
    }

    .desktop-icon {
        max-width: 7%;
    }

    .logo img {
        max-width: 10%;
    }
}

@media (min-width: 2000px) {
    .image-hero-desktop {
        display: block;
        padding: .4em;
    }

    .header-text {
        font-size: 3em;
    }

    .heading-text {
        font-size: 7em;
    }

    .text {
        font-size: 2em;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20em;
        margin-right: 9em;
        margin-left: 9em;
        padding: 3em;
    }

    .an-main-nav-link,
    .an-main-nav-link-4 {
        font-size: 1.0em;
        /* margin-top: 3em; */
    }

    .desktop-main-nav-btn-list {
        display: flex;
        flex-direction: row;
        gap: 3em;
        margin-top: 2em;
    }

    .arrow-up-list {
        gap: 1em;
        background: #fff;
        backdrop-filter: blur(50px);
        padding: 1.3em;
        border-radius: 1.8em;
        /* margin-top: .2em; */
        box-shadow: 0 0 20px rgba(0, 0, 0, .2);
        font-size: 1em;
        margin-left: 2em;
    }

    .register-login {
        display: flex;
        gap: 2em;
        align-items: flex-end;
        margin-left: 60em;
    }

}