   ::before,
   ::after,
   * {
       margin: 0;
       box-sizing: border-box;
   }

   body {
       font-family: 'Karla';
       background: hsl(0, 0%, 98%);
   }

   .login-register {
       font-family: "Karla";
   }

   #wrapper {
       margin: 2em auto;
       width: 700px;
   }

   img {
       width: 100%;
       height: auto;
   }

   .icon-flex {
       max-width: 5%;
   }

   .icon-close-menu {
       max-width: 100%;
       margin-top: 3em;
   }

   .desktop-navigation-bar {
       display: none;
   }

   .desktop-nav-bar {
       display: none;
   }

   .icon-menu-open {
       background: none;
       border: none;
       max-width: 500%;
       height: 100%;
   }

   .btn-close {
       background: none;
       border: none;
       margin-left: 23em;
   }

   .icon-arrow-down {
       margin-left: .5em;
   }

   .overlay {
       width: 100%;
       height: 400vh;
       background-color: rgba(0, 0, 0, 0.4);
       position: absolute;
       top: 0;
       left: 0;
   }

   .header {
       display: flex;
       gap: 35em;
   }

   .hidden {
       display: none;
   }

   .main-nav-btn {
       position: absolute;
       top: 0;
       left: 100%;
       width: 400px;
       max-width: 200%;
       background-color: hsl(0, 0%, 98%);
       padding: 1em;
       height: 400vh;
   }

   .arrow-up-list,
   .main-nav-btn-list {
       list-style: none;
   }

   .bottom {
       margin-bottom: 1em;
   }

   .header-text {
       font-size: 3em;
       font-weight: 800;
   }

   .image-hero-desktop {
       display: none;
   }


   .arrow-up-list-link img {
       margin-right: .8em;
   }

   .arrow-up-2 {
       margin-bottom: 1em;
   }

   .arrow-up-list,
   .main-nav-btn-list {
       display: flex;
       flex-direction: column;
       gap: 2em;
       margin-top: 2em;
   }

   .main-nav-link,
   .main-nav-link-2 {
       font-size: 2em;
   }

   .heading-btn {
       display: flex;
       gap: 33em;
       padding: 1em
   }

   .arrow-up-list li {
       font-size: 2em;
   }

   .login {
       margin-top: 2em;
       border: none;
       background: none;
       font-size: 2.3em;
       margin-left: 3em;
   }

   .register {
       font-size: 2.3em;
       background: hsl(0, 0%, 98%);
       border: 2px solid hsl(0, 0%, 8%);
       border-radius: 30px;
       padding: .5em;
       width: 90%;
       background: none;
       margin-top: 1em;
   }

   .container {
       text-align: center;
       padding: 1em;
   }

   .heading-text {
       font-size: 3.8em;
       font-weight: 750;
   }

   .text {
       font-size: 2em;
       margin: 0.5em 0;
       line-height: 1.5em;
   }

   .learn-more {
       font-size: 1.5em;
       font-weight: 600;
       border-radius: 1em;
       padding: 1em;
       color: #fff;
       background: hsl(0, 0%, 8%);
       border: none;
       cursor: pointer;
       transition: all 0.3s ease;
       margin: 2em 3em;
   }

   .logo {
       display: flex;
       gap: 2em;
   }

   .attribution {
       font-size: 11px;
       text-align: center;
   }

   .attribution a {
       color: hsl(228, 45%, 44%);
   }